#resource-page {
    min-height: 600px;
    margin: 10px;
    color: white;
    font-weight: bold;
}

#resource-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
}

#card {
    margin: auto;
    padding: auto;
    width: 350px;
    text-align: center;
}

#card-title {
    font-size: 25px;
}

#card-body {
    text-align: justify;
    font-size: 20px;
}

#card-list {
    display: block;
}

#card-list li {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}