#resource-page {
    min-height: 600px;
    margin: 10px;
    color: white;
    font-weight: bold;
    background-color:#A5C6EF;
}

#resource-title {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
}

#nav-link {
    text-decoration: none;
    color:  rgb(78, 74, 74);
    padding: 10px;
}

#nav-link:hover {
    color: rgba(252, 180, 126);
}

#card {
    margin: auto;
    padding: auto;
    width: 380px;
    text-align: center;
}

#card-title {
    font-size: 25px;
}

#card-body {
    text-align: justify;
    font-size: 20px;
}

#card-list {
    display: inline-flex;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 700px) {

    #resource-title {
        font-size: 40px;
    }

    #card {
        width: 500px;
    }
}