body {
    background-color:rgb(128, 167, 173) ;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

header {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

#logo {
    position: relative;
    top: 20px;
    width: 70px;
    height: 70px;
}

footer {
    text-align: center;
    font-size: 25px;
}

ul {
    text-align: center;
    list-style: none;
}

.nav-text {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-button {
    height: 30px;
    width: 200px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(78, 74, 74);
    font-weight: bold;
    font-size: 15px;
    margin: 10px;
}

.nav-button:hover {
    background-color:  rgba(252, 180, 126);
    cursor: pointer;
}

@media screen and (min-width: 700px) {
    ul {
        display: flex;
        justify-content: center;
    }

    .nav-button {
        width: 120px;
    }
}