header {
    text-align: center;
}

#header-title {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}

#logo {
    position: relative;
    top: 20px;
    width: 70px;
    height: 70px;
}

footer {
    text-align: center;
    font-size: 25px;
}

ul {
    text-align: center;
    list-style: none;
    display: none;
}

.nav-text {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-button {
    height: 30px;
    width: 120px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(78, 74, 74);
    font-weight: bold;
    font-size: 15px;
    margin: 10px;
}

.nav-button:hover {
    background-color:  rgba(252, 180, 126);
    cursor: pointer;
}

#loading-text {
    text-align: center;
    font-size: 25px;
}

@media screen and (min-width: 700px) {
    ul {
        display: flex;
        justify-content: center;
    }

    #header-title {
        font-size: 60px;
    }
}