#cat-page {
    background-color:#A5C6EF;
    padding: auto;
    margin: auto;
    text-align: center;
    min-height: 600px;
    margin: 10px;
    color: white;
    font-weight: bold;
}

#cat-title {
    font-size: 30px;
}