#home-page {
    min-height: 600px;
    margin: 10px;
    background-color:#A5C6EF;
}

#home-title {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

#home-text {
    max-width: 400px;
    padding: auto;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#home-pic-one {
    display: none;
}

#home-pic-two {
    display: none;
}

#home-pic-three {
    display: none;
}

#home-pic-four {
    display: none;
}

#home-pic-five {
    display: none;
}

#home-pic-six {
    position: relative;
    border-radius: 10px;
    left: 20px;
    width: 350px;
    height: 200px;
}

@media screen and (min-width: 700px) {
    #home-pic-one {
        display: block;
        border-radius: 10px;
        width: 120px;
        height: 120px;
        position: absolute;
        top: 220px;
        left: 4%;
        transform: rotate(20deg);
    }

    #home-pic-two {
        display: block;
        border-radius: 10px;
        width: 120px;
        height: 120px;
        position: absolute;
        top: 450px;
        left: 4%;
        transform: rotate(-10deg);
    }

    #home-pic-three {
        display: block;
        border-radius: 10px;
        width: 120px;
        height: 120px;
        position: absolute;
        top: 220px;
        right: 5%;
        transform: rotate(-10deg);
    }

    #home-pic-four {
        display: block;
        border-radius: 10px;
        width: 120px;
        height: 120px;
        position: absolute;
        top: 450px;
        right: 5%;
        transform: rotate(10deg);
    }

    #home-pic-five {
        display: block;
        border-radius: 10px;
        position: relative;
        left: 30px;
        width: 300px;
        height: 200px;
    }

    #home-pic-six {
        display: none;
    }
}

@media screen and (min-width: 930px ) {
    #home-pic-one {
        width: 200px;
        height: 200px;
    }

    #home-pic-two {
        width: 200px;
        height: 200px;
        top: 500px;
    }

    #home-pic-three {
        top: 240px;
        width: 200px;
        height: 200px;
    }

    #home-pic-four {
        right: 10%;
        width: 200px;
        height: 200px;
        top: 500px;
    }
}