#cats-page {
    min-height: 600px;
    margin: 10px;
    color: white;
    font-weight: bold;
}

#cats-title {
    font-size: 40px;
    text-align: center;
}

#cats-list {
    text-align: center;
    padding: auto;
    margin: auto;
}

img {
    width: 500px;
    height: 300px;
}

#nav-text {
    text-decoration: none;
    color: rgb(78, 74, 74);
}

#nav-text:hover {
    color: rgba(252, 180, 126);
}