#add-page {
    min-height: 600px;
    margin: 10px;
    color: white;
    font-weight: bold;
    background-color:rgb(128, 167, 173) ;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#add-title {
    text-align: left;
    font-size: 30px;
    padding-bottom: 20px;

}

#add-form {
    margin: auto;
    padding: auto;
    max-width: 400px;
}

#add-input {
    border-radius: 10px;
    padding: 5px;
    width: 300px;
    outline: none;
    border: 1px black solid;
}

#add-message {
    text-align: center;
    font-size: 20px;
}

#add-button {
    height: 30px;
    width: 200px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(78, 74, 74);
    color: white;
}

#add-button:hover {
    background-color:  rgba(252, 180, 126);
    cursor: pointer;
}