#edit-cat-page {
    padding: auto;
    margin: auto;
    text-align: center;
    min-height: 600px;
    margin: 10px;
    color: white;
    font-weight: bold;
}

#edit-cat-title {
    font-size: 30px;
}

#edit-form {
    width: 400px;
    text-align: left;
    padding: auto;
    margin: auto;
}

.edit-input {
    margin-left: 10px;
    border-radius: 10px;
    padding: 5px;
    outline: none;
    border: none;
}

#edit-button {
    margin-left: 100px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(78, 74, 74);
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#delete-button {
    margin-left: 30px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(78, 74, 74);
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#edit-button:hover {
    background-color:  rgba(252, 180, 126);
    cursor: pointer;
}

#delete-button:hover {
    background-color:  rgba(252, 180, 126);
    cursor: pointer;
}