#edit-cat-page {
    padding: auto;
    margin: auto;
    text-align: center;
    min-height: 600px;
    margin: 10px;
    color: white;
    font-weight: bold;
}

#edit-cat-title {
    font-size: 30px;
}

.edit-input {
    border-radius: 10px;
    padding: 5px;
    outline: none;
    border: none;
    margin-right: 30px;
}

#edit-button {
    height: 30px;
    width: 80px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(78, 74, 74);
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#edit-button:hover {
    background-color:  rgba(175, 222, 220, 1);
    cursor: pointer;
}