#signup-page {
    min-height: 600px;
    margin: 10px;
    color: white;
    font-weight: bold;
}

#signup-title {
 font-size: 40px;
 text-align: center;
}

#signup-form {
    text-align: center;
    padding: auto;
    margin: auto;
}

.signup-input {
    border-radius: 10px;
    padding: 5px;
    width: 300px;
    outline: none;
    border: 1px black solid;
}

#signup-button {
    height: 30px;
    width: 200px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(78, 74, 74);
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#signup-button:hover {
    background-color:  rgba(252, 180, 126);
    cursor: pointer;
}

#signup-text {
    font-size: 40px;
    text-align: center;
}

#signup-link {
    text-align: center;
    font-size: 20px;
}